@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body{
    background: linear-gradient(135deg, #fff, var(--primary));
    background-size: 100%;
    background-repeat: no-repeat;
    
    font-family: 'Montserrat', sans-serif;
    
}